html,
body {
    height: 100%;
    width: auto;
    background-color: #F2F2F2;
}

#notas {
    border: black;
    background-color: #eee;
}

.scrollable-comments {
  max-height: 800px; /* Ajusta la altura máxima según sea necesario */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  border: 1px solid #ccc; /* Opcional: agrega un borde para distinguir la sección */
  padding: 10px; /* Opcional: agrega un poco de espacio interno */
  margin-bottom: 10px; /* Opcional: espacio entre la sección de comentarios y la caja de texto */
}

.comment {
  margin-bottom: 10px; /* Espacio entre los comentarios */
}

textarea.form-control {
  margin-bottom: 10px; /* Espacio entre la caja de texto y los botones */
}

.float-end {
  margin-top: 10px; /* Espacio superior para los botones */
}

#toast {
  background-color: #28a745; /* Color verde para el toast */
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease;
}


.scrollable {
    max-height: 700px;
    overflow-y: scroll;

}

.js-player {
  display: block;
  max-width: 100%;
  width: 60%;
  margin: auto;
  background: none;
  /*object-fit: cover;*/
}
/*
.plyr__video-wrapper {
  width: auto;
  max-width: 1000px;   /* Limitar el tamaño máximo del contenedor /
  margin: 0 auto;     /* Centrar el contenedor /
}*/