{% extends './layout.html' %}

{% block title %}Sistema de Análisis Multimodal para Prácticas Docentes - Subir Grabación{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row my-3">
        <div class="col-3 mx-4">
            <a class="btn btn-secondary" href="/main-page">
                <span class="px-2 fw-bold">
                    <i class="ti ti-arrow-left"></i>
                    Atrás
                </span>
            </a>
        </div>
        <div class="col-6">
            <h2 class="text-center">Ingrese los datos solicitados y suba el archivo de video (en formato .mp4)</h2>
        </div>
    </div>
    <form class="form-input requires-validation" id="uploader" method="POST" enctype="multipart/form-data" novalidate action="/uploader">
        <fieldset class="form-fieldset">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="mb-3">
                        <label class="form-label required" for="nombrePrac">Nombre del Practicante:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="nombrePrac" id="nombrePrac" required>
                            <div class="invalid-feedback">
                                Ingrese el nombre del practicante.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label required" for="fecha">Fecha de la Grabación:</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" name="fecha" id="fecha" required>
                            <div class="invalid-feedback">
                                Indique la fecha de grabación.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label required" for="nombreEstabl">Nombre del Establecimiento:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="nombreEstabl" id="nombreEstabl" required>
                            <div class="invalid-feedback">
                                Ingrese el nombre del establecimiento donde se realizó la práctica.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label required" for="contenidoClase">Contenido de la Clase:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="contenidoClase" id="contenidoClase" required>
                            <div class="invalid-feedback">
                                Ingrese el contenido de la clase grabada.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label required" for="fileName">Nombre del Archivo:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="fileName" id="fileName" required>
                            <div class="invalid-feedback">
                                Ingrese un nombre para el video.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header text-center">
                            <h3 class="card-title">Sube la grabación de la clase.</h3>
                        </div>
                        <div class="card-body">
                            <div id="dropzone" class="dropzone w-100 text-center">
                                <div id="dropzone-content">
                                    <i class="fa-solid fa-video fa-3x text-muted mb-2" id="dropzone-icon"></i> <!-- Cambiar por Themify -->
                                    <p class="text-muted">Arrastra y suelta el archivo de video aquí o haz clic para seleccionar</p>
                                </div>
                                <input hidden class="form-control file-upload-input" type="file" id="fileElem" name="fileElem" accept="video/mp4" required>
                                <div class="invalid-feedback mt-2" id="fileFeedback">
                                    Debes subir un archivo de video en formato .mp4.
                                </div>
                            </div>
                            <div id="alert-container" class="mt-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-auto mx-1">
                    <button class="btn btn-primary" type="submit" id="upload">Subir Video</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
<script src="{{ url_for('static', filename='js/upload_verification.js') }}"></script>

{% endblock %}