{% extends './layout.html' %}

{% block title %}Sistema de Análisis Multimodal para Prácticas Docentes - Video{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/video.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row my-3">
        <div class="col-3">
            <a href="/main-page" class="btn btn-secondary py-2" id="Atras">
                <span class="px-2 fw-bold">
                    <i class="ti ti-arrow-left"></i>
                    Atrás
                </span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" data-bs-toggle="tab" href="#video_tab">Video</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#transcrip_tab">Transcripción</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#artefac_tab">Artefactos</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="video_tab">
                            <div class="container">
                                <video class="js-player" controls id="myvideo">
                                    <source src="{{ url_for('static', filename='uploads/' ~ video ) }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <h3 class="text-center mt-2 mb-0">Transcripción</h3>
                            <div class="container" id="transcription_chart"></div> <!--Aplicar Apex-charts-->
                            <h3 class="text-center mt-2 mb-0">Artefactos</h3>
                            <div class="container" id="object_chart"></div>
                        </div>
                        <div class="tab-pane" id="transcrip_tab">
                            <h3>Oprime en la fila para editar el texto de la transcripción.</h3>
                            <div class="scrollable">
                                <table class="table table-hover" id="transcript">
                                    <thead class="text-center">
                                        <tr>
                                            <th style="display:none;">id</th>
                                            <th class="col-6">Texto</th>
                                            <th class="col-3">Inicio</th>
                                            <th class="col-3">Cierre</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bs-toggle="modal" data-bs-target="#edit-transcript">
                                        {% for tran in transcript %}
                                        <tr class="align-middle" onclick="editarTranscript('{{ tran.id|safe }}')">
                                            <td id="id" style="display:none;">{{ tran.id }}</td>
                                            <td class="col-6">{{ tran.text }}</td>
                                            <td class="col-3 text-center" id="start">{{ tran.start }}</td>
                                            <td class="col-3 text-center" id="end">{{ tran.end }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="my-3">
                                <button class="btn btn-info float-end" onclick="downloadText()">
                                    <strong><i class="ti ti-download"></i> Descargar texto</strong>
                                </button>
                            </div>
                            <div class="modal fade" id="edit-transcript" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="edit-transcript" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" >Editar Transcripción</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="limpiarCaja()"></button>
                                        </div>
                                        <div class="modal-body">
                                            <textarea class="form-control" id="message-text" style="height: 200px"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="limpiarCaja()">Cancelar</button>
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="saveTranscript()">Guardar y Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="artefac_tab">
                            <div class="scrollable">
                                <table class="table" id="objetos">
                                    <thead class="text-center">
                                        <tr>
                                            <th>Artefactos</th>
                                            <th>Inicio</th>
                                            <th>Cierre</th>
                                            <th>Confiabilidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for obj in objetos %}
                                        <tr class="text-center">
                                            <td>{{ obj.objeto }}</td>
                                            <td id="inicio_obj">{{ obj.inicio }}</td>
                                            <td id="cierre_obj">{{ obj.cierre }}</td>
                                            <td>{{ obj.conf }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-header align-items-center">
                    <h3 class="card-title">Notas</h3>
                </div>
                <div class="card-body">
                    <div class="scrollable-comments h-75">
                        <div class="comment" id="comments">
                            <!--Aquí van las notas registradas-->
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div id="profileNameandTime" hidden>
                            <h6 class="fw-bold text-primary" id="profileName">{{ perfil.nombre }}</h6>
                            <p class="text-muted small" id="timeTag"></p>
                        </div>
                        <div class="col-2">
                            <img class="rounded-circle shadow-1-strong" src="{{ url_for('static', filename=foto ) }}" alt="avatar" id="profilePhoto"/>
                        </div>
                        <div class="col-10">
                            <div data-input-init class="form-outline">
                                <textarea class="form-control" id="new-comment" rows="4"
                                style="background: #fff;" placeholder="Ingrese una Nota"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button type="button" class="btn btn-secondary px-2" id="timetag" onclick="guardarTiempo()">Guardar tiempo</button>
                        </div>
                        <div id="toast" class="toast" style="position: fixed; top: 20px; right: 20px; z-index: 1050; display: none;">
                            <div class="toast-body">
                                ¡Tiempo guardado exitosamente!
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" data-button-init class="btn btn-primary px-2" id="btn-post">Guardar Comentario</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script src="{{ url_for('static', filename='js/videoUpload.js') }}"></script>-->
<script src="{{ url_for('static', filename='js/tablas.js') }}"></script>
<script src="{{ url_for('static', filename='js/timelapse.js') }}"></script>
<script src="{{ url_for('static', filename='js/timelapse.js') }}"></script>
<!--<script>timetables('{{ transcript|tojson }}')</script>-->
<!--<script>objectTables('{{ objetos|tojson }}')</script>-->
<script src="{{ url_for('static', filename='js/notes.js') }}"></script>
<script>jsonScanner('{{ json|tojson }}');</script>
<script src="{{ url_for('static', filename='js/plyrApexChart.js') }}"></script>
<script>timetables('{{ transcript|tojson }}')</script>
<script>objectTables('{{ objetos|tojson }}')</script>
<!--
        <script src="{{ url_for('static', filename='js/tablas.js') }}"></script>
        <script src="{{ url_for('static', filename='js/timelapse.js') }}"></script>
        <script defer>timetables('{{ transcript|tojson }}')</script>
        <script>objectTables('{{ objetos|tojson }}')</script>
        <script src="{{ url_for('static', filename='js/notes.js') }}"></script>
        <script>jsonScanner('{{ json|tojson }}');</script>
-->
{% endblock %}